[core]
  repositoryformatversion = 0
  filemode = false
  bare = false
  logallrefupdates = true
  symlinks = true
  ignorecase = false
  hideDotFiles = dotGitOnly
  autoCRLF = false
[push]
  default = current
[color]
  diff = auto
  status = auto
  branch = auto
  log = auto
[color "status"]
  changed = green
  added = blue
  untracked = red
[color "diff"]
  old = red
  new = blue
[alias]
  summary = status -u -s
  branches = branch -a
  tags = tag
  staches = stash list
  discard = checkout -- 
  unstage = reset HEAD
  cut = checkout -b
  amend = commit --amend
  save = commit -m
  reload = fetch --prune
  remaster = rebase origin/master
  uncommit = reset --soft HEAD^
  modoshite = reset --hard HEAD@{1}
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort  
  network = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = t-hayashi
	email = t.hayashi.dev@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
